<div class="container">
  <h2>Tabla de Ejemplo</h2>
  <div class="row">
    <div class="col-xs-12 col-12">
      <div class="content-wrapper">
        <table class="table">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nombre</th>
              <th>Correo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let content of returnedArray">
              <td>{{ content.codigo }}</td>
              <td>{{ content.nombre }}</td>
              <td>{{ content.correo }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination
        [boundaryLinks]="showBoundaryLinks"
        [directionLinks]="showDirectionLinks"
        [totalItems]="contentArray.length"
        [itemsPerPage]="10"
        (pageChanged)="pageChanged($event)"
      ></pagination>
    </div>
  </div>
</div>
